In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\ammar\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\ammar\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector

# Establish connections to source databases
source_quantum_connection = mysql.connector.connect(
    host='192.168.100.38',
    user='rd_user',
    password='Rd1234',
    database='quantum_ams'
)

source_curve_connection = mysql.connector.connect(
    host='192.168.100.38',
    user='rd_user',
    password='Rd1234',
    database='curve_ams'
)

# Establish connection to destination database
destination_connection = mysql.connector.connect(
    host='192.168.100.38',
    user='rd_user',
    password='Rd1234',
    database='rd_hrms_db_test'
)

# Create cursors for source and destination databases
source_quantum_cursor = source_quantum_connection.cursor(dictionary=True)
source_curve_cursor = source_curve_connection.cursor(dictionary=True)
destination_cursor = destination_connection.cursor()

# Step 1: Insert data into users table
source_quantum_cursor.execute("""
    INSERT IGNORE INTO rd_hrms_db_test.users (name, email, pin_code, permissions, email_verified_at, password, remember_token, created_at, updated_at)
    SELECT 
        CONCAT(u.userFirstName, ' ', u.userLastName),
        u.userEmail,
        NULL, NULL, NULL, 
        u.userPassword,
        NULL, 
        CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
    FROM quantum_ams.users u
""")
source_curve_cursor.execute("""
    INSERT IGNORE INTO rd_hrms_db_test.users (name, email, pin_code, permissions, email_verified_at, password, remember_token, created_at, updated_at)
    SELECT 
        CONCAT(u.userFirstName, ' ', u.userLastName),
        u.userEmail,
        NULL, NULL, NULL, 
        u.userPassword,
        NULL, 
        CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
    FROM curve_ams.users u
""")
destination_connection.commit()

# Step 2: Insert data into employees table
destination_cursor.execute("""
    INSERT INTO rd_hrms_db_test.employees (user_id, office_id, emp_dev_id, first_name, last_name, email, emp_dev_uid, position, pin_code, permissions, email_verified_at, remember_token, created_at, updated_at)
    SELECT
        u.id,
        IFNULL(qa.shopID, ca.shopID), 
        NULL, 
        IFNULL(qa.userFirstName, ca.userFirstName), 
        IFNULL(qa.userLastName, ca.userLastName), 
        IFNULL(qa.userEmail, ca.userEmail), 
        NULL, 
        NULL, 
        NULL, NULL, NULL, NULL, 
        CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
    FROM rd_hrms_db_test.users u
    LEFT JOIN quantum_ams.users qa ON u.email = qa.userEmail
    LEFT JOIN curve_ams.users ca ON u.email = ca.userEmail
""")
destination_connection.commit()

# Step 3: Insert data into rd_hrms_db_test.employee_information
destination_cursor.execute("""
    INSERT INTO rd_hrms_db_test.employee_information (emp_id, department_id, designation_id, reports_to, father_name, gender, date_of_birth, martial_status, blood_group, personal_mobile_number, personal_email, company_email, address, cnic_number, cnic_address, place_of_birth, state, country, emergency_contact_name, emergency_relationship, emergency_contact_number, status, joining_date, created_at, updated_at, deleted_at)
    SELECT
        e.id,
        NULL AS department_id, 
        NULL AS designation_id, 
        NULL, 
        NULL, 
        NULL, 
        NULL, 
        NULL, 
        NULL, 
        u.userMobile, 
        u.userEmail, 
        NULL, 
        NULL, 
        u.userCNIC, 
        NULL, 
        NULL, 
        NULL, 
        NULL, 
        NULL, 
        NULL, 
        1, 
        NULL, 
        CURRENT_TIMESTAMP, 
        NULL
    FROM rd_hrms_db_test.employees e
    JOIN rd_hrms_db_test.users u ON e.user_id = u.id
""")
destination_connection.commit()

# Close all connections and cursors
source_quantum_cursor.close()
source_curve_cursor.close()
destination_cursor.close()
source_quantum_connection.close()
source_curve_connection.close()
destination_connection.close()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on '192.168.100.38:3306' (10060)