In [1]:
pip install -U pyzk

Requirement already satisfied: pyzk in c:\users\ammar\anaconda3\lib\site-packages (0.9)
Requirement already satisfied: future in c:\users\ammar\anaconda3\lib\site-packages (from pyzk) (0.18.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import sys
import os
sys.path.insert(1,os.path.abspath("./pyzk"))
from zk import ZK, const

In [8]:
from zk import ZK, const

In [9]:
conn = None
# create ZK instance
zk = ZK('192.168.100.7', port=4370, timeout=5, password=0, force_udp=False, ommit_ping=False)

In [10]:
conn = zk.connect()

In [11]:
import pyodbc





conn_str = (
    r'DRIVER={SQL SERVER};'
    r'SERVER=DESKTOP-51LBS5R\SQLEXPRESS;'
    r'DATABASE=E_Attendance;'
    r'Trusted_Connection=yes;'
)




# Connect to SSMS
ssms_connection = pyodbc.connect(conn_str)
ssms_cursor = ssms_connection.cursor()

In [12]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\ammar\anaconda3\lib\site-packages (4.0.34)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pyodbc





conn_str = (
    r'DRIVER={SQL SERVER};'
    r'SERVER=DESKTOP-51LBS5R\SQLEXPRESS;'
    r'DATABASE=E_Attendance;'
    r'Trusted_Connection=yes;'
)




# Connect to SSMS
ssms_connection = pyodbc.connect(conn_str)
ssms_cursor = ssms_connection.cursor()

In [14]:
# Get attendances (will return list of Attendance object)
attendances = conn.get_attendance()

In [15]:
attendances

[<Attendance>: 1 : 2023-07-24 12:48:56 (15, 0),
 <Attendance>: 1 : 2023-07-24 12:54:30 (15, 0),
 <Attendance>: 1 : 2023-07-24 14:48:47 (15, 0),
 <Attendance>: 1 : 2023-07-24 14:58:51 (15, 0),
 <Attendance>: 1 : 2023-07-24 15:11:04 (15, 0),
 <Attendance>: 2 : 2023-08-09 14:03:50 (15, 0),
 <Attendance>: 1 : 2023-08-15 11:48:58 (15, 0),
 <Attendance>: 1 : 2023-08-16 10:07:16 (15, 0),
 <Attendance>: 1 : 2023-08-16 10:50:11 (15, 0),
 <Attendance>: 1 : 2023-08-16 11:18:20 (1, 0),
 <Attendance>: 11 : 2023-08-16 11:34:04 (1, 0),
 <Attendance>: 12 : 2023-08-16 11:53:39 (1, 0),
 <Attendance>: 1 : 2023-08-16 18:00:37 (15, 0),
 <Attendance>: 11 : 2023-08-17 09:34:20 (1, 0),
 <Attendance>: 12 : 2023-08-17 10:20:34 (1, 0),
 <Attendance>: 1 : 2023-08-17 17:57:40 (15, 0),
 <Attendance>: 11 : 2023-08-18 09:37:52 (1, 0),
 <Attendance>: 12 : 2023-08-18 10:24:24 (1, 0),
 <Attendance>: 12 : 2023-08-18 18:54:56 (1, 0),
 <Attendance>: 11 : 2023-08-21 09:38:03 (1, 0),
 <Attendance>: 12 : 2023-08-21 10:04:45 (1, 0),
 <Attendance>: 1 : 2023-08-21 13:21:15 (1, 0),
 <Attendance>: 12 : 2023-08-21 19:01:50 (1, 1),
 <Attendance>: 11 : 2023-08-21 19:01:56 (1, 1),
 <Attendance>: 11 : 2023-08-22 09:44:31 (1, 0),
 <Attendance>: 12 : 2023-08-22 10:18:05 (1, 0),
 <Attendance>: 1 : 2023-08-22 10:29:34 (15, 0),
 <Attendance>: 12 : 2023-08-22 18:48:47 (1, 1),
 <Attendance>: 11 : 2023-08-22 18:49:16 (1, 1),
 <Attendance>: 11 : 2023-08-23 09:47:15 (1, 0),
 <Attendance>: 1 : 2023-08-23 10:36:03 (15, 0),
 <Attendance>: 12 : 2023-08-23 10:36:08 (1, 0),
 <Attendance>: 12 : 2023-08-23 19:04:13 (1, 1),
 <Attendance>: 11 : 2023-08-23 19:04:23 (1, 1),
 <Attendance>: 11 : 2023-08-24 09:45:41 (1, 0),
 <Attendance>: 12 : 2023-08-24 10:11:11 (1, 0),
 <Attendance>: 11 : 2023-08-24 18:57:05 (1, 1),
 <Attendance>: 11 : 2023-08-25 09:53:09 (1, 0),
 <Attendance>: 12 : 2023-08-25 10:17:49 (1, 0),
 <Attendance>: 11 : 2023-08-25 18:56:20 (1, 1),
 <Attendance>: 12 : 2023-08-25 18:56:28 (1, 1),
 <Attendance>: 11 : 2023-08-28 09:57:13 (1, 0),
 <Attendance>: 12 : 2023-08-28 10:44:37 (1, 0),
 <Attendance>: 11 : 2023-08-28 18:53:06 (1, 1),
 <Attendance>: 12 : 2023-08-28 18:53:16 (1, 1),
 <Attendance>: 11 : 2023-08-29 09:51:51 (1, 0),
 <Attendance>: 12 : 2023-08-29 10:15:46 (1, 0),
 <Attendance>: 11 : 2023-08-29 18:56:02 (1, 1),
 <Attendance>: 12 : 2023-08-29 18:56:09 (1, 1),
 <Attendance>: 11 : 2023-08-30 09:55:01 (1, 0),
 <Attendance>: 12 : 2023-08-30 10:21:40 (1, 0),
 <Attendance>: 13 : 2023-08-30 12:27:35 (1, 0),
 <Attendance>: 11 : 2023-08-30 18:54:17 (1, 1),
 <Attendance>: 12 : 2023-08-30 18:54:26 (1, 1),
 <Attendance>: 13 : 2023-08-30 19:02:07 (1, 1),
 <Attendance>: 13 : 2023-08-31 09:16:16 (1, 0),
 <Attendance>: 11 : 2023-08-31 10:05:17 (1, 0),
 <Attendance>: 1 : 2023-08-31 10:23:16 (15, 0),
 <Attendance>: 12 : 2023-08-31 10:46:10 (1, 0),
 <Attendance>: 11 : 2023-08-31 19:01:52 (1, 1),
 <Attendance>: 12 : 2023-08-31 19:02:01 (1, 1),
 <Attendance>: 11 : 2023-09-01 09:53:03 (1, 0),
 <Attendance>: 1 : 2023-09-01 10:02:42 (15, 0),
 <Attendance>: 12 : 2023-09-01 10:13:03 (1, 0),
 <Attendance>: 12 : 2023-09-01 18:21:47 (1, 1),
 <Attendance>: 12 : 2023-09-01 18:23:24 (1, 1),
 <Attendance>: 1 : 2023-09-01 18:23:32 (1, 1),
 <Attendance>: 12 : 2023-09-01 18:25:43 (1, 1),
 <Attendance>: 14 : 2023-09-01 18:42:44 (1, 1),
 <Attendance>: 15 : 2023-09-01 18:45:59 (1, 1),
 <Attendance>: 16 : 2023-09-01 18:49:41 (1, 1),
 <Attendance>: 12 : 2023-09-01 18:58:18 (1, 1),
 <Attendance>: 11 : 2023-09-01 18:58:25 (1, 1),
 <Attendance>: 15 : 2023-09-01 18:58:50 (1, 1),
 <Attendance>: 16 : 2023-09-01 18:58:58 (1, 1),
 <Attendance>: 11 : 2023-09-04 09:49:41 (1, 0),
 <Attendance>: 15 : 2023-09-04 09:49:49 (1, 0),
 <Attendance>: 16 : 2023-09-04 09:57:59 (1, 0),
 <Attendance>: 14 : 2023-09-04 10:08:44 (1, 0),
 <Attendance>: 12 : 2023-09-04 10:09:16 (1, 0),
 <Attendance>: 1 : 2023-09-04 10:09:23 (15, 0),
 <Attendance>: 16 : 2023-09-04 16:18:42 (1, 0),
 <Attendance>: 16 : 2023-09-04 17:05:11 (1, 0)]

In [16]:
print(attendances)

[<Attendance>: 1 : 2023-07-24 12:48:56 (15, 0), <Attendance>: 1 : 2023-07-24 12:54:30 (15, 0), <Attendance>: 1 : 2023-07-24 14:48:47 (15, 0), <Attendance>: 1 : 2023-07-24 14:58:51 (15, 0), <Attendance>: 1 : 2023-07-24 15:11:04 (15, 0), <Attendance>: 2 : 2023-08-09 14:03:50 (15, 0), <Attendance>: 1 : 2023-08-15 11:48:58 (15, 0), <Attendance>: 1 : 2023-08-16 10:07:16 (15, 0), <Attendance>: 1 : 2023-08-16 10:50:11 (15, 0), <Attendance>: 1 : 2023-08-16 11:18:20 (1, 0), <Attendance>: 11 : 2023-08-16 11:34:04 (1, 0), <Attendance>: 12 : 2023-08-16 11:53:39 (1, 0), <Attendance>: 1 : 2023-08-16 18:00:37 (15, 0), <Attendance>: 11 : 2023-08-17 09:34:20 (1, 0), <Attendance>: 12 : 2023-08-17 10:20:34 (1, 0), <Attendance>: 1 : 2023-08-17 17:57:40 (15, 0), <Attendance>: 11 : 2023-08-18 09:37:52 (1, 0), <Attendance>: 12 : 2023-08-18 10:24:24 (1, 0), <Attendance>: 12 : 2023-08-18 18:54:56 (1, 0), <Attendance>: 11 : 2023-08-21 09:38:03 (1, 0), <Attendance>: 12 : 2023-08-21 10:04:45 (1, 0), <Attendance>: 1 : 2023-08-21 13:21:15 (1, 0), <Attendance>: 12 : 2023-08-21 19:01:50 (1, 1), <Attendance>: 11 : 2023-08-21 19:01:56 (1, 1), <Attendance>: 11 : 2023-08-22 09:44:31 (1, 0), <Attendance>: 12 : 2023-08-22 10:18:05 (1, 0), <Attendance>: 1 : 2023-08-22 10:29:34 (15, 0), <Attendance>: 12 : 2023-08-22 18:48:47 (1, 1), <Attendance>: 11 : 2023-08-22 18:49:16 (1, 1), <Attendance>: 11 : 2023-08-23 09:47:15 (1, 0), <Attendance>: 1 : 2023-08-23 10:36:03 (15, 0), <Attendance>: 12 : 2023-08-23 10:36:08 (1, 0), <Attendance>: 12 : 2023-08-23 19:04:13 (1, 1), <Attendance>: 11 : 2023-08-23 19:04:23 (1, 1), <Attendance>: 11 : 2023-08-24 09:45:41 (1, 0), <Attendance>: 12 : 2023-08-24 10:11:11 (1, 0), <Attendance>: 11 : 2023-08-24 18:57:05 (1, 1), <Attendance>: 11 : 2023-08-25 09:53:09 (1, 0), <Attendance>: 12 : 2023-08-25 10:17:49 (1, 0), <Attendance>: 11 : 2023-08-25 18:56:20 (1, 1), <Attendance>: 12 : 2023-08-25 18:56:28 (1, 1), <Attendance>: 11 : 2023-08-28 09:57:13 (1, 0), <Attendance>: 12 : 2023-08-28 10:44:37 (1, 0), <Attendance>: 11 : 2023-08-28 18:53:06 (1, 1), <Attendance>: 12 : 2023-08-28 18:53:16 (1, 1), <Attendance>: 11 : 2023-08-29 09:51:51 (1, 0), <Attendance>: 12 : 2023-08-29 10:15:46 (1, 0), <Attendance>: 11 : 2023-08-29 18:56:02 (1, 1), <Attendance>: 12 : 2023-08-29 18:56:09 (1, 1), <Attendance>: 11 : 2023-08-30 09:55:01 (1, 0), <Attendance>: 12 : 2023-08-30 10:21:40 (1, 0), <Attendance>: 13 : 2023-08-30 12:27:35 (1, 0), <Attendance>: 11 : 2023-08-30 18:54:17 (1, 1), <Attendance>: 12 : 2023-08-30 18:54:26 (1, 1), <Attendance>: 13 : 2023-08-30 19:02:07 (1, 1), <Attendance>: 13 : 2023-08-31 09:16:16 (1, 0), <Attendance>: 11 : 2023-08-31 10:05:17 (1, 0), <Attendance>: 1 : 2023-08-31 10:23:16 (15, 0), <Attendance>: 12 : 2023-08-31 10:46:10 (1, 0), <Attendance>: 11 : 2023-08-31 19:01:52 (1, 1), <Attendance>: 12 : 2023-08-31 19:02:01 (1, 1), <Attendance>: 11 : 2023-09-01 09:53:03 (1, 0), <Attendance>: 1 : 2023-09-01 10:02:42 (15, 0), <Attendance>: 12 : 2023-09-01 10:13:03 (1, 0), <Attendance>: 12 : 2023-09-01 18:21:47 (1, 1), <Attendance>: 12 : 2023-09-01 18:23:24 (1, 1), <Attendance>: 1 : 2023-09-01 18:23:32 (1, 1), <Attendance>: 12 : 2023-09-01 18:25:43 (1, 1), <Attendance>: 14 : 2023-09-01 18:42:44 (1, 1), <Attendance>: 15 : 2023-09-01 18:45:59 (1, 1), <Attendance>: 16 : 2023-09-01 18:49:41 (1, 1), <Attendance>: 12 : 2023-09-01 18:58:18 (1, 1), <Attendance>: 11 : 2023-09-01 18:58:25 (1, 1), <Attendance>: 15 : 2023-09-01 18:58:50 (1, 1), <Attendance>: 16 : 2023-09-01 18:58:58 (1, 1), <Attendance>: 11 : 2023-09-04 09:49:41 (1, 0), <Attendance>: 15 : 2023-09-04 09:49:49 (1, 0), <Attendance>: 16 : 2023-09-04 09:57:59 (1, 0), <Attendance>: 14 : 2023-09-04 10:08:44 (1, 0), <Attendance>: 12 : 2023-09-04 10:09:16 (1, 0), <Attendance>: 1 : 2023-09-04 10:09:23 (15, 0), <Attendance>: 16 : 2023-09-04 16:18:42 (1, 0), <Attendance>: 16 : 2023-09-04 17:05:11 (1, 0)]

In [17]:
 users = conn.get_users()

In [18]:
users

[<User>: [uid:1, name:Danyal user_id:1],
 <User>: [uid:2, name:Hassan user_id:2],
 <User>: [uid:3, name:Raffey user_id:11],
 <User>: [uid:4, name:Fahad user_id:12],
 <User>: [uid:5, name:Shahid user_id:13],
 <User>: [uid:6, name:NN-14 user_id:14],
 <User>: [uid:7, name:NN-15 user_id:15],
 <User>: [uid:8, name:Abdul Rehman user_id:16]]

In [20]:
print(users)

[<User>: [uid:1, name:Danyal user_id:1], <User>: [uid:2, name:Hassan user_id:2], <User>: [uid:3, name:Raffey user_id:11], <User>: [uid:4, name:Fahad user_id:12], <User>: [uid:5, name:Shahid user_id:13], <User>: [uid:6, name:NN-14 user_id:14], <User>: [uid:7, name:NN-15 user_id:15], <User>: [uid:8, name:Abdul Rehman user_id:16]]

In [21]:
import pandas as pd

In [22]:
df = pd.DataFrame(users)

In [23]:
print(df)

                                               0
0         <User>: [uid:1, name:Danyal user_id:1]
1         <User>: [uid:2, name:Hassan user_id:2]
2        <User>: [uid:3, name:Raffey user_id:11]
3         <User>: [uid:4, name:Fahad user_id:12]
4        <User>: [uid:5, name:Shahid user_id:13]
5         <User>: [uid:6, name:NN-14 user_id:14]
6         <User>: [uid:7, name:NN-15 user_id:15]
7  <User>: [uid:8, name:Abdul Rehman user_id:16]

 import pandas as pd
import re

#The list of user strings
users = [
    "<User>: [uid:1, name:Danyal user_id:1]",
    "<User>: [uid:2, name:Hassan user_id:2]",
    "<User>: [uid:3, name:Raffey user_id:11]",
    "<User>: [uid:4, name:Fahad user_id:12]",
    "<User>: [uid:5, name:Shahid user_id:13]",
    "<User>: [uid:6, name:NN-14 user_id:14]",
    "<User>: [uid:7, name:NN-15 user_id:15]",
    "<User>: [uid:8, name:Abdul Rehman user_id:16]"
]

# Define regular expressions to extract information
uid_pattern = r"uid:(\d+)"
name_pattern = r"name:(\w+)"
user_id_pattern = r"user_id:(\d+)"

# Extract data and create a list of dictionaries
data = []
for user_string in users:
    uid_match = re.search(uid_pattern, user_string)
    name_match = re.search(name_pattern, user_string)
    user_id_match = re.search(user_id_pattern, user_string)
    
    if uid_match and name_match and user_id_match:
        uid = int(uid_match.group(1))
        name = name_match.group(1)
        user_id = int(user_id_match.group(1))
        
        data.append({"uid": uid, "name": name, "user_id": user_id})

# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

In [1]:
import pandas as pd
import re

# The list of user strings
users = [
    "<User>: [uid:1, name:Danyal user_id:1]",
    "<User>: [uid:2, name:Hassan user_id:2]",
    "<User>: [uid:3, name:Raffey user_id:11]",
    "<User>: [uid:4, name:Fahad user_id:12]",
    "<User>: [uid:5, name:Shahid user_id:13]",
    "<User>: [uid:6, name:NN-14 user_id:14]",
    "<User>: [uid:7, name:NN-15 user_id:15]",
    "<User>: [uid:8, name:Abdul Rehman user_id:16]"
]

# Define regular expressions to extract information
uid_pattern = r"uid:(\d+)"
name_pattern = r"name:(\w+)"
user_id_pattern = r"user_id:(\d+)"

# Extract data and create a list of dictionaries
data = []
for user_string in users:
    uid_match = re.search(uid_pattern, user_string)
    name_match = re.search(name_pattern, user_string)
    user_id_match = re.search(user_id_pattern, user_string)
    
    if uid_match and name_match and user_id_match:
        uid = int(uid_match.group(1))
        name = name_match.group(1)
        user_id = int(user_id_match.group(1))
        
        data.append({"uid": uid, "name": name, "user_id": user_id})

# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

   uid    name  user_id
0    1  Danyal        1
1    2  Hassan        2
2    3  Raffey       11
3    4   Fahad       12
4    5  Shahid       13
5    6      NN       14
6    7      NN       15
7    8   Abdul       16

In [8]:
print(df)

   uid    name  user_id
0    1  Danyal        1
1    2  Hassan        2
2    3  Raffey       11
3    4   Fahad       12
4    5  Shahid       13
5    6      NN       14
6    7      NN       15
7    8   Abdul       16

In [3]:
import sys
sys.path.append('/path/to/pyzk')

In [9]:
# Define the SQL query for inserting data into ZKTecoData table
sql = "INSERT INTO ZKTecoData (id, Acc_No, Name, sTime, Machine, VerifyMode) VALUES (?, ?, ?, ?, ?, ?)"

try:
    # Iterate through rows of the dataframe and insert into SQL Server
    for index, row in df.iterrows():
        val = (row['user_id'], row['user_id'], row['name'], None, None, None)
        cursor.execute(sql, val)
        conn.commit()

except Exception as e:
    print("Error:", e)
    conn.rollback()  # Roll back the transaction if an error occurs

finally:
    cursor.close()
    conn.close()

Error: name 'cursor' is not defined

NameError: name 'cursor' is not defined

In [7]:
import pandas as pd
# Define the SQL query for inserting data into ZKTecoData table
sql = "INSERT INTO ZKTecoData (id, Acc_No, Name, sTime, Machine, VerifyMode) VALUES (?, ?, ?, ?, ?, ?)"

try:
    # Iterate through rows of the dataframe and insert into SQL Server
    for index, row in df.iterrows():
        val = (row['ID'], row['Acc_No'], row['Name'], row['sTime'], row['Machine'], row['VerifyMode'])
        cursor.execute(sql, val)
        conn.commit()

except Exception as e:
    print("Error:", e)
    conn.rollback()  # Roll back the transaction if an error occurs

finally:
    cursor.close()
    conn.close()

Error: 'ID'

NameError: name 'cursor' is not defined

In [10]:
import pyodbc
import pandas as pd

# Define the SQL Server connection parameters
server = 'DESKTOP-51LBS5R\SQLEXPRESS'
database = 'DESKTOP-51LBS5R\SQLEXPRESS'
username = 'ZKTecoUser1'
password = 'RocketDigitals'

# Create a connection to SQL Server
conn = pyodbc.connect(f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}')
cursor = conn.cursor()

# Define the SQL query for inserting data into the Users table
sql = "INSERT INTO Users (uid, name, user_id) VALUES (?, ?, ?)"

try:
    # Assuming df is your DataFrame with the user data
    for index, row in df.iterrows():
        val = (row['uid'], row['name'], row['user_id'])
        cursor.execute(sql, val)
        conn.commit()

    print('Data transferred to SQL Server successfully.')

except Exception as e:
    print("Error:", e)
    conn.rollback()  # Roll back the transaction if an error occurs

finally:
    cursor.close()
    conn.close()

InterfaceError: ('28000', "[28000] [Microsoft][ODBC SQL Server Driver][SQL Server]Login failed for user 'ZKTecoUser1'. (18456) (SQLDriverConnect); [28000] [Microsoft][ODBC SQL Server Driver][SQL Server]Login failed for user 'ZKTecoUser1'. (18456)")